*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing:border-box;
  /* background-image: url(hero_image.jpg); */
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.flex-container{
    width:100%;
    height: auto;
    display: flex;
   padding-left: 25%;
   padding-top: 8%;
}
.flex-container1{
    width:100%;
    height: auto;
    display: flex;
   padding-left: 25%;
   
}
.flex-box{
    width: 200px;
    height:200px;
    background: linear-gradient(purple,red);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 20px;
}
    
    
    /* CSS  €button-52*/
    .button-52 {
      font-family: serif;
      width: 200px;
      height:200px;
      margin: 20px;
      font-size: 25px;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 20px 13px;
      outline: 0;
      color: aliceblue;
      border: 1px solid black;
      border-radius: 20%;
      cursor: pointer;
      position: relative;
      background-color: rgba(255, 255, 255, 0);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-52:after {
        border-radius: 20%;
      content: "";
      background: linear-gradient(purple,red);
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
      
    }
    
    .button-52:hover:after {
      top: 0px;
      left: 0px;
      background: linear-gradient(rgb(59, 170, 255),rgb(35, 142, 0));
    }
    
    @media (min-width: 768px) {
      .button-52 {
        padding: 13px 50px 13px;
        
      }
    }